<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2><p style='text-indent: 100px; color: purple'>Django Templates</p></h2>
    <p>Django - это веб-фреймворк, поэтому ему нужен удобный способ динамической генерации HTML. Самый распространенный подход основан на шаблонах. Шаблон содержит статические части желаемого вывода HTML, а также некоторый специальный синтаксис, описывающий, как будет вставлен динамический контент.</p>
    <h3><p style='text-indent: 30px; color: purple'>Syntax</p></h3>
    <p>Синтаксис языка шаблонов Django включает в себя четыре конструкции.</p>

    <h3><p style='text-indent: 30px; color: purple'>Variables</p></h3>
    <p>Переменная выводит значение из контекста,которое является ключом отображения объектов в виде пиктограммы на значения.</p>
    <p>Переменные окружены '{{ и }}' следующим образом:

    <h3><p style='text-indent: 30px; color: purple'>Tags</p></h3>
    <p>Теги обеспечивают произвольную логику в процессе рендеринга.</p>
    <p>Это определение намеренно расплывчато. Например, тег может выводить контент, служить в качестве управляющей структуры, например оператора «if» или цикла «for», извлекать контент из базы данных или даже разрешать доступ к другим тегам шаблона.
        
    <h3><p style='text-indent: 30px; color: purple'>Filters</p></h3>
    <p>Фильтры преобразуют значения переменных и аргументов тегов.

    <h3><p style='text-indent: 30px; color: purple'>Comments</p></h3>
    <p>Комментарии выглядят так:</p>
    <p>{# это не будет отображаться #}
        % тег обеспечивает многострочные комментарии.</p>
</body>
</html>